
@{
    ViewData["Title"] = "GetExample";
}

<h1>GetExample</h1>

<form method="post" asp-controller="Test" asp-action="GetExample2" asp-route-ID="5" asp-route-Name="John">
    <input name="q" type="text" />
    <input type="submit" name="Search" value="Search" />
</form>