
@{
    ViewData["Title"] = "Search";
    Layout = "Getexample";
}

<h1>Search</h1>
<table>
    <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>Price</th>
    </tr>
    @*@foreach(var item in items)
    {
<tr>
    <td>@item.Artist.Name</td>
    <td>@item.Title.Name</td>
    <td>@item.Price</td>
</tr>
    }*@
</table>

