@model A1Patients.Models.Medication

@{
    ViewData["Title"] =  $"Edit of {ViewBag.medname}";
}

    <h1>Edit @ViewBag.medname</h1>

<h4>Medication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            DIN:  <input disabled="disabled" asp-for="Din" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicationTypeId" class="control-label" hidden="hidden"></label>
                <select asp-for="MedicationTypeId" class="form-control" asp-items="ViewBag.MedicationTypeId"  hidden="hidden"></select>
                <span asp-validation-for="MedicationTypeId" class="text-danger"  hidden="hidden"></span>
            </div>
            <div class="form-group">
                <label asp-for="DispensingCode" class="control-label"></label>
                <select asp-for="DispensingCode" class="form-control" asp-items="ViewBag.DispensingCode"></select>
                <span asp-validation-for="DispensingCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concentration" class="control-label"></label>
                <input asp-for="Concentration" class="form-control" disabled="disabled"/>
                <span asp-validation-for="Concentration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcentrationCode" class="control-label"></label>
                <select asp-for="ConcentrationCode" class="form-control" asp-items="ViewBag.ConcentrationCode" disabled="disabled"></select>
                <span asp-validation-for="ConcentrationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
